*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Croissant One', cursive;
}
html,body{
    height: 100vh;
    width: 100vw;
    display:flex;
    justify-content: center;
    overflow: hidden;
}
.head{
    text-align: center;
    height:  10%;
    width: 40%;
    border-radius: 50px;
    border: 2px solid #fff;
    background: rgba(0,0,0, 0.5);
    backdrop-filter:blur(.2rem);
    position: absolute;
    z-index: 1;
    color: #fff;
}
.head h1{
    margin: 1% 0;
}
.list{
    width:30%;
    height: 70%;
    border: 2px solid #fff;
    background: rgba(0,0,0, 0.5);
    backdrop-filter:blur(.2rem);
    display: flex;
    flex-direction: column;
    border-radius: 10%;
    color: #fff;
    transition: 1s;
    overflow-y: scroll;
    text-transform: uppercase;
}
.list::-webkit-scrollbar,.category::-webkit-scrollbar{
    display: none;
}
.category{
    width: 30%;
    height: 70%;
    border: 2px solid #fff;
    background: rgba(0, 0,0, 0.5);
    backdrop-filter:blur(.2rem);
    overflow: scroll;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 1s;
    border-radius: 10%;
}
.main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
#backimg{
    overflow: hidden;
    z-index: -1;
    position: absolute;
    object-fit: cover;
}
.container{
    width: 30%;
    height: 70%;
    border: 2px solid #fff;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content:space-evenly;
    transition: .5s;
    border-radius: 20px;
    background: rgba(0, 0,0, 0.5);
    backdrop-filter:blur(.5rem);
    text-transform: uppercase;
}
.container .buttons, .buttons i{
    display: flex;
    padding: 0 10px;
    align-items: center;
    cursor: pointer;
}
.buttons i{
    margin: 0 10px;
    height: 100%;
    background: #fff;
    border-radius: 50%;
}
.container .btn{
    position: absolute;
    top: 10%;
    left: 10%;
    color:white;
    mix-blend-mode: difference;
    cursor: pointer;
}
#loop{
    position: absolute;
    top: 10%;
    right: 10%;
    background: transparent;
    color: #fff;
    cursor: pointer;
    mix-blend-mode: difference;
}
.container .img{
    display: flex;
    width: 60%;
    height: 40%;
    object-fit: contain;
}
.container .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    border: 2px solid #fff;
}
.title{
    font-size: 20px;
    font-weight: 900;
}
.artist{
    font-size: 15px;
    font-weight: 100;
}
.title,.artist{
    color: #fff;
}
.progressbar{
    width: 80%;
    height: 2px;
    border-radius: 20px;
    position:absolute;
    top: 80%;
    margin: 5px 0;
    background:#ffffff4e;
    transition: width .5s;
    cursor:pointer;
}
.progressbar .progress{
    width: 0;
    height: 2px;
    background-color: #fff;
    box-shadow:0 0 5px #fff,0 0 10px #fff,0 0 15px #1fe9f1,0 0 20px #1fe9f1 , 0 0 25px #1fe9f1,0 0 30px #1fe9f1,0 0 35px #1fe9f1;
    position: relative;
    border-radius: 20px;
    transition: width .5s;
}
.progress::after{
    content: "";
    position: absolute;
    right: -10px;
    top: -10px;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    opacity: 0;
    transition: all .5s;
}
.progressbar:hover{
    height: 7px;
}
.progressbar:hover .progress::after{
    opacity: 1;
}
.progressbar:hover .progress{
    height: 7px;
}
.time{
    display: flex;
    justify-content: space-between;
}
.category h4,.category h1{
    text-align: center;
    font-size: 30px;
    color: #fff;
    text-transform: uppercase;
    border-radius: 20px;
    margin: 10px 0;
    width: 80%;
    height:11%;
    font-family: "Sofia", sans-serif;
    border: 2px solid #fff;
    font-weight:100;
    transition: .3s;
}
.category h1{
    border-radius: 10px;
    border: 2px solid #fff;
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6,inset 0 0 1.3rem #0073e6;
    width: 90%;
}
.category h4:hover{
    box-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6 ;
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #0073e6, 0 0 20px #0073e6, 0 0 25px #0073e6, 0 0 30px #0073e6, 0 0 35px #0073e6;
}
.category a{
    text-decoration: none;
    color: #fff;
}
.list h1{
    font-size: 30px;
    margin: 10px 0;
    border-radius: 20px;
    font-family: 'Croissant One', cursive;
    text-align: center;
    box-shadow: 0 0 .2rem #fff,0 0 .2rem #fff,0 0 2rem #bc13fe,0 0 0.8rem #bc13fe,0 0 2.8rem #bc13fe,inset 0 0 1.3rem #bc13fe;
}
.list ol{
    margin-left:10% ;
}
.list ol li{
    margin: 5% 0;
    transition: .3s;
}
.list ol li:hover{
    cursor: pointer;
    text-shadow:0 0 5px #fff, 0 0 10px #fff, 0 0 15px #bc13fe, 0 0 20px #bc13fe, 0 0 25px #bc13fe, 0 0 30px #bc13fe, 0 0 35px #bc13fe ;
}
 .time{
    display: flex;    
    justify-content: space-between;
    color: #fff;
}
button{
    position: absolute;
}
.home{
    position: absolute;
    top: 10px;
    left: 0;
    margin: 0 30px;
    width: 65px;
    height:30px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter:blur(.2rem);
    border: 2px solid #fff;
    text-transform: uppercase;
    border-radius: 20px;
    text-align: center;
}
.home a{
    text-decoration: none;
    color: #fff;
}
.loader{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 999;
    background: #000;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size:x-large;
    font-family: 'Courier New', Courier, monospace;
}
.change{
    position: absolute;
    top: 10px;
    right: 0;
    color:#fff ;
    border: 2px solid #fff;
    border-radius: 10px;
    background: rgba(0,0,0, 0.5);
    backdrop-filter:blur(.2rem);
    width: 50px;
    height: 50px;
    display: none;
}
@media screen and (max-width: 768px) {
    html,body{
        overflow: hidden;
    }
    .change{
        font-size:x-large;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    body{
        position: relative;
    }
    .btn{
        display: none;
    }
    .main{
        width: 100%;
        overflow: hidden;
        margin: 20px 0;
        padding: 10px 10px;    
    }
    .list,.container,.category{
        width: 90vw;
        height: 70vh;
        position:absolute;
    }
    .container .img{
        width: 70%;
        height: 45%;
    }
    #backimg{
        top: 0;
        object-fit:cover;
        height: 100vh;
    }
    .list,.category{
        opacity: 0;
        font-size: large;
        border-radius: 20px;
    }
    .category h1, .category h4{
        height: auto;
    }
    .container{
        z-index: 2;
        opacity: 1;
    }
    .home{
        margin: 0;
    }
    .buttons i{
        border-radius: 20px;
        padding: 5px 10px;
        font-size: larger;
    }
    .head{
        margin: 10px 10px;
        padding: 5px 1px;
        width: 170px;
        font-size: 12px;
        border-radius: 20px;
    }
}